.features {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.features .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.features-title {
}
.features-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 24px;

  padding-right: 15px;
  padding-left: 15px;
}
.features-item {
}
.features-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.features-text {
  color: #434455;

  padding-top: 8px;
}
