.features {
  background: #fff;
}
.features-title {
}
.features-list {
}
.features-item {
}
.features-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.features-text {
  color: #434455;
}
