.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-pic {
}
.portfolio-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-text {
  color: #434455;
}
