.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;

  width: 1128px;
}
.portfolio-item {
}
.portfolio-pic {
}
.portfolio-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-text {
  color: #434455;
}
