.team {
  background: #f4f4fd;

  padding-top: 120px;
  padding-bottom: 120px;
}

.team .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;

  padding: 0 15px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;

  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;
}
.team-item {
  background-color: #ffffff;
}
.team-pic {
}
.team-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  padding-top: 32px;
}
.team-text {
  text-align: center;
  color: #434455;

  padding-top: 8px;
}
