.team {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-pic {
}
.team-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.team-text {
  text-align: center;
  color: #434455;
}
